.closeButton {
    position: absolute;
    top: .2em;
    right: .2em;
    padding: 1rem;
    cursor: pointer;
    transition: transform .35s ease-in-out;

    &:hover {
        transition: transform .1s ease-in;
        transform: scale(1.1);
    }

    &:active {
        transition: transform .1s ease-out;
        transform: scale(.9);
    }
}
